<div class="call-to-action" style="background-image:url('{{ .Site.BaseURL }}img/call-to-action.jpg')">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 ml-auto mr-auto">
          {{ with .Site.Params.callToAction }}
            <h1>{{ .headline }}</h1>
            <a href="{{ .Site.BaseURL }}{{ .link }}" class="btn btn-lg btn-default">{{ .button }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
