<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} — {{ .Site.Title }}{{ end }}</title>

  {{ .Hugo.Generator }}

  <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} — {{ .Site.Title }}{{ end }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.image }}">
  <meta property="og:url" content="{{ .Site.BaseURL }}">

  <link rel="canonical" href="{{ .Permalink }}">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link href="{{ .Site.BaseURL }}css/fontawesome-all.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/styles.css" rel="stylesheet">

  {{ template "_internal/google_analytics.html" . }}

  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/favicon-16x16.png">
  <link rel="manifest" href="{{ .Site.BaseURL }}/site.webmanifest">
  <link rel="mask-icon" href="{{ .Site.BaseURL }}/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">


</head>
