@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Crimson+Text');

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #fff;
  text-align: center;
  font-family: "Crimson Text", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
h1 {
  padding-bottom: 1rem;
}
/* h2 {
  padding-bottom: 0.8rem;
} */
p {
  font-size: 1.1rem;
}


.btn-lg {
  font-size: 1.6rem;
  color: #222;
  font-family: "Montserrat", sans-serif;
}
@media (max-width:575px) {
  .btn-lg {
    font-size: 1.4rem;
  }
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.splash-page {
  display: table;
  width: 100%;
  height: 600px;
  background-color: #222;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  min-height: 100vh;
}
.splash-page-inner {
  display: table-cell;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Start the vertical centering */
.splash-page-inner {
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.cover h1 {
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 0;
}
.cover h1, .cover p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@media (min-width:992px) {
  .cover h1 {
    font-size: 4.5rem;
  }
  .cover p {
    font-size: 1.6rem;
  }
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
 #mainNav {
   background-color: #222;
   padding-top: 0;
   padding-bottom: 0;
   font-family: "Montserrat", sans-serif;
 }
.navbar-brand {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  transition: ease-in-out 0.5s;
}

.navbar-nav > li {
  display: inline-block;
}
.navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-bottom: 2px solid transparent;
}
#mainNav a:hover {
  text-decoration: none;
}
@media (min-width: 576px) {
  #mainNav {
    background-color: rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.5s;
  }
  #mainNav .navbar-brand a, #mainNav .navbar-nav a {
    transition: ease-in-out 0.5s;
  }
  #mainNav.nav-affixed {
    background-color: #222;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  .nav-affixed .navbar-brand {
    font-size: 1.3rem;
  }
  .navbar-nav > li > a {
    font-size: 1.2rem;
  }
  .nav-affixed .navbar-nav > li > a {
    font-size: 1.1rem;
  }
}


.page-header {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.page-header .container-fluid {
  padding-top: 66px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.page-header .jumbotron {
  background-color: transparent;
  margin-bottom: 0;
}
.page-header .jumbotron > h1 {
  font-size: 62px;
}
@media (min-width:992px) {
  .page-header .container-fluid {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  #mainNav .navbar-nav li, #mainNav .navbar-brand {
    position: relative;
  }
  #mainNav .navbar-nav a:before, #mainNav .navbar-brand a:before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
  }
  #mainNav .navbar-nav li a:before, #mainNav .navbar-brand a:before {
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    right: 100%;
    bottom: 50%;
    background: #389451; /*** COLOR OF THE LINE ***/
    height: 3px; /*** THICKNESS OF THE LINE ***/
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  #mainNav .navbar-nav li a:hover, #mainNav .navbar-brand a:hover {
    opacity: 1 !important;
  }
  #mainNav .navbar-nav li a:hover:before, #mainNav .navbar-brand a:hover:before {
    right: 0;
  }
  #mainNav .navbar-nav li a:before {
    bottom: -45%;
  }
  #mainNav .navbar-brand a:before {
    bottom: -11%;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav {
    float: right;
  }
}

@media (min-width: 576px) {
  .navbar-nav > li + li {
    margin-left: 20px;
  }
}
@media (max-width: 575px) {
  .navbar-nav {
    margin-bottom: 0.6rem;
  }
  .navbar-nav > li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 500;
}

.arrow {
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin-left:-20px;
  animation: bounce 3s infinite;
}
.arrow::before {
    position: relative;
    /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 2em;
    height: 2em;
    border-right: 0.3em solid white;
    border-top: 0.3em solid white;
    transform: rotate(135deg);
    margin-right: 0.5em;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .navbar {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .splash-page-inner {
    vertical-align: middle;
  }

}



/*
 * About section
 */
.about {
  text-align: left;
  background-image:url("/img/about_texture.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-shadow: none;
}
.about img {
  max-width: 100%;
}
.about .container-fluid {
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
  padding: 6rem 0 7rem;
}

.about .contact {
  background-color: rgba(65, 24, 61, 0.99);
  color: #f0f0f0;
  padding: 4rem 0 5rem;
}

.about .contact .leaders .table {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.about .contact .discord a {
  margin-top: 2rem;
  padding: 10px 20px;
}
.about .contact .leaders .table th, .about .contact .leaders .table td {
  padding: 0.45rem 0.35rem;
}

@media (max-width: 575px) {
  .about .contact .leaders .table {
    font-size: 0.9rem;
  }
  .about .contact .discord {
    padding-top: 1rem;
  }
}

@media (max-width: 991px) {
  .about .contact .leaders .table {
    font-size: 0.8rem;
  }
}


/*
 * Call to action
 */
.call-to-action {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.call-to-action .container-fluid {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7rem 0;
}
.call-to-action .btn {
  margin-top: 2rem;
  font-size: 2rem;
  padding: 1rem 2rem;
}
@media (min-width: 992px) {
  .call-to-action .container-fluid {
    padding: 10rem 0;
  }
  .call-to-action h1 {
    font-size: 3rem;
  }
}



/*
 * Application page
 */
#apply {
  background-image:url("/img/ceiling_texture.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#apply .container-fluid {
  background-color: rgba(17, 17, 17, 0.95);
  padding-top: 2rem;
  padding-bottom: 2.2rem;
  box-shadow: inset 0px 1px 5px #111;
}
#apply iframe {
  width: 100%;
  height: 600px;
}
@media (min-width:992px) {
  #apply iframe {
    height: 750px;
  }
}


.footer {
  background-color: #222;
  padding: 1.1rem 0 0.1rem;
}
.footer p {
  font-size: 1rem;
}

/* @media screen and (max-width: 991px) {
  .splash-page, .about, .call-to-action, #apply {
    background-attachment: scroll;
  }
} */
